.pagination_buttons{
    /* border: 2px solid red; */
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: -1rem;
    right: 0rem;

}
.pagination_buttons>*{
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    font-size: 0.6rem;
    font-weight: 600;
    background-color: white;
    margin: 0 0.1rem;
    cursor: pointer;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 0.2rem;
}

.next_previous{
    display: flex;
    align-items: flex-end;
}
